<div class="container-fluid mt-3 mb-5">
<section class="section mb-3" id="about">
 <style>
      .carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
      .carousel-multi-item.v-2 .carousel-item-next,
      .carousel-multi-item.v-2 .carousel-item-prev {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .carousel-multi-item.v-2 .carousel-item-right.active,
      .carousel-multi-item.v-2 .carousel-item-next {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
      .carousel-multi-item.v-2 .carousel-item-left.active,
      .carousel-multi-item.v-2 .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .carousel-multi-item.v-2 .carousel-item-right,
      .carousel-multi-item.v-2 .carousel-item-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
    </style>
  
 <h3 class="font-weight-bold pb-4 mb-0 text-center">About us</h3>

  <div class="row wow FadeIn" data-wow-delay="0.4s">
    <div class="col-md-12 pb-5 text-center black-text">
     
      <p>Located in the lovely area of Tangalla Beach Front, Pastissade Beach Hotel enjoys a commanding position in the family fun, beaches, romance hub of Tangalle. The hotel is not too far from the city center: just 5 km away, and it normally takes about 210 minutes to reach the airport. With its convenient location, the hotel offers easy access to the city's must-see destinations.
Take advantage of a wealth of unrivaled services and amenities at this Tangalle hotel.
Guests of the hotel can enjoy on-site features like 24-hour room service,
 free Wi-Fi in all rooms, 24-hour security, taxi service, shrine.
The hotel features 5 beautifully appointed guest rooms,
many of which include internet access – wireless, desk, balcony/terrace,
blackout curtains, fan. Throughout the day you can enjoy the relaxing atmosphere of the snorkeling,
surfing lessons, private beach, diving, fishing. Pastissade Beach Hotel is your one-stop destination for quality hotel accommodations in Tangalle.</p>
     
      
      <p>Take advantage of a wealth of unrivaled services and amenities at this Tangalle hotel. Guests of the hotel can enjoy on-site features like 24-hour room service, free Wi-Fi in all rooms, 24-hour security, taxi service, shrine. 
</p>

<p>The hotel features 5 beautifully appointed guest rooms, many of which include internet access – wireless, desk, balcony/terrace, blackout curtains, fan. Throughout the day you can enjoy the relaxing atmosphere of the snorkeling, surfing lessons, private beach, diving, fishing. Pastissade Beach Hotel is your one-stop destination for quality hotel accommodations in Tangalle.</p>
    </div>
  </div>
</section>
  </div>