<!--Section: Content-->
   <section class="px-md-5 mx-md-5 text-center  black-text" id="contact">
    <h3 class="font-weight-bold pb-4 mb-0 text-center">Contact Us</h3>
     <!--Grid row-->
     <div class="row">

       <!--Grid column-->
       <div class="col-lg-5 col-md-12 mb-0 mb-md-0">



         <p class="text-muted">Get answers to your questions or give feedback, however you like to get in touch and wherever you are in the world. Choose from email, phone or an online contact form and we’ll help you direct your inquiries to the right place, quickly and easily.
</p>

         <p><span class="font-weight-bold mr-2">Email:</span><a href=""></a>beachpastissade@gmail.com</p>
         <p><span class="font-weight-bold mr-2">Phone:</span><a href=""></a>+94768844961</p>

       </div>
       <!--Grid column-->

       <!--Grid column-->
       <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
         <form action="." method="post">
           {% csrf_token %}

         <!--Grid row-->
         <div class="row">

           <!--Grid column-->
           <div class="col-md-12">

             <!-- Material outline input -->
             <div class="md-form md-outline mb-0">
               <input type="text" id="form-last-name" class="form-control" name="name">
               <label for="form-last-name">name</label>
             </div>

           </div>
           <!--Grid column-->

         </div>
         <!--Grid row-->

         <!-- Material outline input -->
         <div class="md-form md-outline mt-3">
           <input type="email" id="form-email" class="form-control" name="email">
           <label for="form-email">E-mail</label>
         </div>

         <!-- Material outline input -->
         <div class="md-form md-outline">
           <input type="text" id="form-subject" class="form-control" name="subject">
           <label for="form-subject">Subject</label>
         </div>

         <!--Material textarea-->
         <div class="md-form md-outline mb-3">
           <textarea id="form-message" class="md-textarea form-control" rows="3" name="message"></textarea>
           <label for="form-message">How we can help?</label>
         </div>

         <button type="submit" class="btn btn-info btn-sm ml-0">Send<i class="far fa-paper-plane ml-2"></i></button>

       </div>
       <!--Grid column-->
 </form>
     </div>
     <!--Grid row-->


   </section>
   <!--Section: Content-->
