<footer class="page-footer text-center text-md-left elegant-color-dark mt-5">
<div class="container-fluid py-5" style="background-color="#9aa4ae">
  <div class="flex-center">
    <ul class="list-unstyled">
      <li>
        <h2 class="h2-responsive mb-4 mt-5 wow fadeIn"><i class="fas fa-quote-left"
          ari-hidden="true"></i>
          Hospitality exists when you believe the other person is on your side
          <i class="fas fa-quote-right"
          aria-hidden="true"></i>
        </h2>
      </li>
      <li>
        <h4 class="font-italic white-text wow fadeIn" data-wow-delay="0.2s">~ Danny Meyer</h4>
      </li>
    </ul>
  </div>
</div>

<!--social media -->
<div class="container mb-2">
  <div class="row">
    <div class="col-md-12 my-4 fadeIn wow" data-wow-delay="0.3s">
      <div class="footer-sociams flex-center">
        <!--Facebook-->
        <a href="https://www.facebook.com/harindi.yvonne" type="button" class="btn-floating btn-grey" target="_blank"><i class="fab fa-facebook"></i></a>

        <!--insta-->
        <a href="https://instagram.com/cafe.pastis.tangalle?igshid=pc9tdcltrs2p" type="button" class="btn-floating btn-green"
        target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>


<!--copywright-->

<div class="footer-copyright py-3 text-center">
  <div class="container-fluid">
    2020 Copyright <a href="#">Vtech</a>
  </div>
</div>
</footer>
