{% load static %}
<header>
  <div class="view jarallax" data-jarallax='{"speed":0.2}'
    style="background-image: url('{% static "web1.jpeg"%}');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    min-height:1000px;">
    <div class="mask rgba-black-strong">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row smooth-scroll">
          <div class="col-md-12">
            <div class="white-text text-center">
            
              <h1 class="display-3 font-weight-bold pb-4 mb-2 wow fadeIn" style="font-size:8vw;">PASTISSADE BEACH HOTEL & CAFE TANGALLE</h1>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
