<div class="container z-depth-1 my-5 py-5">
  

  <!-- Section: Block Content -->
  <section>

    <!-- Modal -->

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">video</h6>
    <h3 class="font-weight-bold pb-4 mb-0 text-center">Explore</h3>
    <hr class="w-header my-4">
    <div class="container">
      <div class="col-md-8 mx-auto mb-4">
<iframe  src="https://www.youtube.com/embed/Gk1tEDliCoc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen   style="min-height:300px;
            max-height:6000px;
            min-width:300px;
            max-width:600px;
            display: block;
           margin-left: auto;
           margin-right: auto;
           z-index: 1;"></iframe>
      </div>
    </div>

  </section>
  <!-- Section: Block Content -->

 